body{
    background-color:#1A0B2E;
    margin: 0;
    font-family:'inter',sans-serif;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-bottom: 1px solid #9100F8;
}
.navbar{
    font-weight: 700;
    font-size: 2.5rem;
    color:#FFFFFF ;
    cursor: pointer;
}
.navbar span{
background: linear-gradient(to right, #F7E93F 0%,#FB09B4,#9100F8);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.anchor{
    display: flex;
    gap: 30px;
}
.anchor a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.subscribe-btn{
    width: 135px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1000px;
    color: #FFFFFF;
    background: linear-gradient(to right, #F7E93F 0%,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
